<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zed.shopping.mapper.ZhiWeiMapper">

    <resultMap type="com.zed.shopping.pojo.ZhiWei" id="ZhiWeiMap">
        <result property="id" column="id" jdbcType="VARCHAR"/>
        <result property="zhiweimingcheng" column="zhiweimingcheng" jdbcType="VARCHAR"/>
        <result property="zhiweimiaoshu" column="zhiweimiaoshu" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="allColumn">
        id,zhiweimingcheng,zhiweimiaoshu
    </sql>


    <select id="chaXunFenYe" parameterType="java.util.Map" resultMap="ZhiWeiMap">
        select
        <include refid="allColumn"/>
        from gxa_shopping.zhi_wei
        <where>
            <!-- 判断是否传递了部门名称，如果存在名称，以like方式匹配 -->
            <if test="mingCheng != null">
                zhiweimingcheng like "%"#{mingCheng}"%"
            </if>
        </where>
        limit #{qiShiDian},10;
    </select>

    <select id="chaXunGeShu" parameterType="java.lang.String" resultType="int">
        select count(id) from gxa_shopping.zhi_wei
        <where>
            <if test="mingCheng != null">
                zhiweimingcheng like "%"#{mingCheng}"%"
            </if>
        </where>
    </select>

    <delete id="shanChuZhiWeiById" parameterType="java.lang.String">
        delete from gxa_shopping.zhi_wei where id = #{id}
    </delete>
</mapper>